.section2 {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section2 h1 {
  color: #f3ba91;
}

.coffeContainer {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  margin: 40px auto;
}

.imageWrapper {
  display: flex;
  width: 50%;
  height: auto;
  object-fit: cover;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.coffeDetails {
  flex: none;
  width: 50%;
  padding: 20px;
  border-radius: 20px;
  color: #f3ba91;
  font-size: 1rem;
  line-height: 1.6;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.section2-title {
  font-size: 10rem;
  text-align: center;
  color: #3e2c23;
  font-family: 'Playfair Display', serif;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  position: relative;
}

.section2-title span {
  font-weight: 600;
  color: #7b4f2b;
}

.title-icon {
  color: #d4a373;
  font-size: 6rem;
  animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

.espressoContainer {
  border-right: 2px solid #d4a373;
  border-bottom: 2px solid #d4a373;
  border-radius: 20px;
}

.cappuccinoContainer {
  border-left: 2px solid #d4a373;
  border-bottom: 2px solid #d4a373;
  border-radius: 20px;
}

.coffee-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
  color: #7b4f2b;
  font-family: 'Playfair Display', serif;
}

.title-icons {
  color: #7b4f2b;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .section2-title {
    font-size: 3rem;
  }

  .title-icon {
    font-size: 3rem;
  }

  .coffeContainer {
    flex-direction: column;
    width: 90%;
  }

  .imageWrapper {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .imageWrapper img {
    height: 100%;
  }

  .coffeDetails {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
  }

  .espressoContainer {
    border-right: 1px solid #d4a373;
    border-bottom: none;
    border-radius: 10px;
  }

  .cappuccinoContainer {
    border-left: 1px solid #d4a373;
    border-bottom: none;
    border-radius: 10px;
  }

  .coffee-title {
    flex-direction: column;
    align-items: center;
  }

  .coffee-title .stars {
    margin-top: 8px;
  }
}

@media (max-width: 1024px) {
  .section2-title {
    font-size: 3rem;

  }

  .title-icon {
    font-size: 4rem;

  }

  .coffee-title {
    font-size: 1.2rem;
  }

  .coffeContainer {
    width: 90%;
    max-width: 900px;
    gap: 20px;
    margin: 0 auto;
  }

  .coffeDetails {
    font-size: 1rem;
  }
}